@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;1,400&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', Verdana,sans-serif;
}

.ikon{
    color: #252525;
    text-decoration: none;
}

.navigation-container{
    border-bottom: 2px solid #252525;;
}

.navigasi ul li a:hover{
    color: #FFD401 !important;
    border-bottom: 0.5px solid #FFD401;
}

.active{
    color: #FFD401 !important;
    font-weight: bolder;
}

.hero-title{
    font-weight: bold;
    font-size: 3em;
}

.page-hero{
  background-color: #252525;
  color: #f5f5fa;
}

.page-hero h2{
  font-weight: 900;
  font-size: 3rem;
}
/* ikon langkah sederhana di homepage */
.ukuran-ikon{
  font-size: 5rem;
}

.ikon-1{
  color: #4682b4;
}

.ikon-2{
  color: #20c997;
}

.ikon-3{
  color: #F1C27B;
}

.ikon-4{
  color: #dc3545;
}

/* Contact */
.kotak{
  height: 60px;
  width: 60px;
}

.background-contact{
  background-color: #F0F0F0;
}

.category-link{
  text-decoration: none;
  color: #434242;
}

.category-link:hover{
  color: #252525 !important;
  background-color: #ffc107;
  font-weight: bold;
  border-radius: 5px;
}

.category-link-product{
  color: #252525;
  background-color: #ffc107;
  text-decoration: none;
  transition: 0.2s ease-in;
}

.category-link-product:hover{
  color: #252525;
  font-weight: bold !important;
  background-color: #FFE7A0;
}

.card-produc{
  position: relative;
}

.icon-product1{
  position: absolute;
  top: 5%;
  left: 10%;
  transform: translate(-100%, -50%);
  opacity: 0;
  transition: 0.2s ease-in;
}

.card-product:hover .icon-product1 {
  opacity: 1;
  transform: translate(-50%, -50%);
}

.card-product:hover .category-link {
  color: #ffc107;
}

@media screen and (max-width: 768px) {
  /* Aturan CSS yang akan diterapkan saat lebar layar maksimum adalah 768px */
  .icon-product1{
    position: relative;
    margin-top: 10px;
    opacity: 1;
  }
}

/*--------------------------------------------------------------
# login & register
--------------------------------------------------------------*/

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-register .form-floating:focus-within {
  z-index: 2;
}


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.footer {
    font-size: 14px;
    background-color: #252525;
    padding: 50px 0;
    color: rgba(255, 255, 255, 0.7);
  }
  
  .footer .icon {
    margin-right: 15px;
    font-size: 24px;
    line-height: 0;
  }
  
  .footer h4 {
    font-size: 16px;
    font-weight: bold;
    position: relative;
    padding-bottom: 5px;
    color: #fff;
  }
  
  .footer .footer-links {
    margin-bottom: 30px;
  }
  
  .footer .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .footer .footer-links ul li {
    padding: 10px 0;
    display: flex;
    align-items: center;
  }
  
  .footer .footer-links ul li:first-child {
    padding-top: 0;
  }
  
  .footer .footer-links ul a {
    color: rgba(255, 255, 255, 0.6);
    transition: 0.3s;
    display: inline-block;
    line-height: 1;
  }
  
  .footer .footer-links ul a:hover {
    color: #fff;
  }
  
  .footer .social-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.2);
    font-size: 16px;
    color: rgba(255, 255, 255, 0.7);
    margin-right: 10px;
    transition: 0.3s;
  }
  
  .footer .social-links a:hover {
    color: #fff;
    border-color: #fff;
  }
  
  .footer .copyright {
    text-align: center;
    padding-top: 30px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
  }
  
  .footer .credits {
    padding-top: 4px;
    text-align: center;
    font-size: 13px;
  }
  
  .footer .credits a {
    color: #fff;
  }